/* SELECIONA TODOS OS ELEMENTOS E COLOCA A BORDA */
* {
    /*border: 1px solid;
    border: none;*/
}
html, body {
    border: none;
    margin: 0;
}
.clearfix{
    clear: both;
}

.header{

}
    .header .barra-topo {
        background: #014a7f;
        color: #ffffff;
        padding: 10px;
    }
    
    div.header div.bem-vindo {
        float: left;
    }

    .header .acoes-topo {
        float: right;
    }

        .header .barra-topo .acoes-topo a {
            color: white;
            text-decoration: none;
        }

.logo{
    float: left;

}

.pesquisa {
    float: right;
    margin-right: 2%;
    /* margin-top: 30px; */
}

.menu{
    float: left;
    width: 30%;
}

.conteudo{
    float: right;
    width: 69%;
}

.barra-topo-logo {
    background: #f70000 url(../img/bg_topo.jpg) top left no-repeat;
    height: 80px;
    line-height:  80px;
    vertical-align: middle;
    background-size: cover;
    box-shadow: 1px -1px 5px #777777;
}
