{% load static %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="." method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Buscar</button>
</form>

{% if clientes %}

    <table>
        <thead>
            <th>Foto</th>
            <th>Região</th>
            <th>Código</th>
            <th>Nome</th>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td><img src="{% static cliente.get_foto_default %}" style="width: 100px;"></td>
                <td>{{ cliente.cd_regiao }}</td>
                <td>{{ cliente.cd_cliente }}</td>
                <td>{{ cliente.no_cliente }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <td colspan="3">Total de Cliente(s): {{ clientes.count }}</td>
        </tfoot>

    </table>

{% endif %}